<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RentCar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RentCar.Properties.Settings.ConnectionString" connectionString="Data Source=ALINA-PC\SQLEXPRESS;Initial Catalog=Cart_Rent;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <RentCar.Properties.Settings>
            <setting name="RentCar_localhost_ListRentCart" serializeAs="String">
                <value>http://localhost:53807/ListRentCart.asmx</value>
            </setting>
        </RentCar.Properties.Settings>
    </applicationSettings>
</configuration>